<div>
  <div class="row">
    <label class="col-sm-4 col-md-4">Owner</label>
    <div class="col-sm-8 col-md-8">
		<% if @mission.user != nil%><%=@mission.user.firstname.capitalize %><%= @mission.user.lastname.capitalize %><% else%><%= "Deleted user" %><%end %> 
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Mission name</label>
    <div class="col-sm-8 col-md-8">
      <%= @mission.project_name %>
    </div>
  </div>
	
	<div class="row">
    <label class="col-sm-4 col-md-4">Location</label>
    <div class="col-sm-8 col-md-8">
      <%= @mission.location %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Description</label>
    <div class="col-sm-8 col-md-8">
      <%= @mission.description %>
    </div>
  </div>
	
	<style>
	#csv
	{
		visibility: hidden;
	}
	#csv_logo:hover
	{
		cursor: pointer;
	}
	#csv:fullscreen
	{
		visibility:visible;
		display: flex;
		justify-content: center;
		height:600px;
		width:100%;
	}
	</style>
	<div class="row">
		<%= label_tag 'documents', "Documents", class: 'col-sm-4 col-md-4' %>
		<div class="col-sm-8 col-md-8">
			<%if @mission.documents != nil%>
				<%= render 'display_doc', edit_mode: false  %>
			<%end%>
		</div>
	</div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Starting date</label>
    <div class="col-sm-8 col-md-8">
      <%= @mission.starting_date.strftime("%d.%m.%Y") %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Ending date</label>
    <div class="col-sm-8 col-md-8">
      <%= @mission.ending_date ? @mission.ending_date.strftime("%d.%m.%Y") : '-' %>
    </div>
  </div>
</div>
