<style>
	.csv
	{
		visibility: hidden;
		width:0%;
		height:0px;
	}
	#csv_logo:hover
	{
		cursor: pointer;
	}
	.csv:fullscreen
	{
		visibility:visible;
		display: flex;
		justify-content: center;
		height:600px;
		width:100%;
	}
</style>
<div style="position:relative; top:0px; left:0px; width:100%; height:70px;">
	<% if(edit_mode) %>
	<div style="position:absolute; top:0px; left:0px; width:75%; height:70px; overflow:auto;">
	<% else %>
	<div style="position:absolute; top:0px; left:0px; width:100%; height:70px; overflow:auto;">
	<% end %>
		<%@width = 20
		@height = 30
		@nbCol = 100/@width
		@stepHeight = 80
		@iterator = 0%>
		<%@docs = @mission.documents.split(';').each do |doc|%>
		<%@col = @iterator%@nbCol
		@row = @iterator/@nbCol%>
		<div style="position:absolute; top:<%=@stepHeight * @row%>px; left:<%=@width * @col%>%; width:<%=@width%>%; height:20px; text-align:center;">
			<%= Document.find(doc).name%>
		</div>
		<div style="position:absolute; top:<%=@stepHeight * @row + 20%>px; left:<%=@width * @col%>%; width:<%=@width%>%; height:30px; text-align:center;">
			<a href="<%= Document.find(@mission.documents).attachment %>">
				<% @rowarraydisp = CSV.read("public" + Document.find(doc).attachment_url, :headers => false, :col_sep => ";") %>
			</a>
			<div id="fullScreenElement1" class="button" onclick="display_csv('csv<%=@iterator%>');">
				<p>
					<img id="csv_logo" src="/csv_logo.png" width="20px" height="20px">
					</img>
				</p>
			</div>
			<div id="csv<%=@iterator%>" class = "csv">
				<table style="display:block; overflow:auto; align-self: center;">
					<% @rowarraydisp.each do |row| %>
					<tr>
						<% row.each do |val|%>
						<td>
							<%= val %>
						</td>
						<% end %>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
		<% if edit_mode %>
		<div style="position:absolute; top:<%=@stepHeight * @row + 50%>px; left:<%=@width * @col%>%; width:<%=@width%>%; height:20px; text-align:center;">
			<%= link_to "Remove document", documents_destroy_path + "?id=#{doc}&purpose=mission&purpose_id=#{@mission.id}" %>
		</div>
		<%end%>
		<%@iterator = @iterator + 1%>
		<%end%>
	</div>
	<% if edit_mode %>
	<div style="position:absolute; top:20px; left:80%; width:20%; height:30px; text-align:center;">
		<%= link_to "Add Documents", new_document_path + "?file_type=csv&purpose=mission&id=#{@mission.id}" %>
	</div>
	<% end %>
</div>
<script type="text/javascript">
	function display_csv(div) {
		document.getElementById(div).requestFullscreen();
	}
</script>
